<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <title>Henrique Lopes | {% block title %}Home{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="fBjh-tuMYs3X78qprGCAy6fY38ish64qYL7Y_c74Q4U" />
	<meta name="description" content="Software Engineer, carioca e apaixonado pelo que faz.">
	<meta name="keywords" content="python, php, developer, rlopes, riquellopes, henrique lopes, flask, nosql, javascript">
	<meta name="author" content="Henrique Lopes">
	<meta name="language" content="pt-BR" />
	<meta name="robots" content="index,follow" />
	<meta property="og:type" content="website">
	<meta property="og:title" content="Henrique Lopes">
	<meta property="og:description" content="Software Engineer, carioca e apaixonado pelo que faz.">
	<meta property="og:url" content="http://www.henriquelopes.com.br/">
	<meta property="og:image" content="http://www.henriquelopes.com.br/static/imagens/me.jpg">
	<meta property='og:site_name' content='Henrique Lopes' />
    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-31620221-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>Henrique Lopes</h1>
        </div>
        <h4>About</h4>
        <div class="row">
            <div class="col-sm-10">
                <p>
                    Software Engineer com 8 anos de experiência, tendo passado por agências web, <a href="http://www.controllab.com.br/" target="_blank">Indústria de exame laboratorial</a>, <a href="http://www.defesa.gov.br/ensino-e-pesquisa/instituicoes-de-ensino-militar/instituicoes-de-ensino-e-pesquisa-vinculadas-a-marinha/centro-de-instrucao-almirante-sylvio-de-camargo-ciasc" target="_blank">Forças armadas</a>, <a href="http://www.ensp.fiocruz.br/portal-ensp/" target="_blank">Centro de pesquisa</a>
                    e a agora no <a href="https://www.hotelurbano.com/" target="_blank">Mercado de turismo</a>. Conheci <a href="https://www.python.org/" target="_blank">Python</a> em 2009 e da lá pra cá nunca mas larguei. Para te ajudar a ter melhores referências sobre mim,
                    separei alguns links legais. Seja bem vindo.
                </p>
            </div>
        </div>
        <h4>Blog posts</h4>
        <div class="row">
            <ol>
                <li><a href="http://blog.henriquelopes.com.br/criar-um-negocio-nem-sempre-e-reinventar-a-roda.html" target="_blank">Criar um negócio nem sempre é reinventar a roda</a></li>
                <li><a href="http://blog.henriquelopes.com.br/como-criar-uma-api-com-node-js-e-express.html" target="_blank">Como criar uma api com nodejs e express</a></li>
                <li><a href="http://blog.henriquelopes.com.br/a-leitura-e-meus-objetivos.html" target="_blank">A leitura e meus objetivos</a></li>
                <li><a href="http://blog.henriquelopes.com.br/como-testar-a-velocidade-da-sua-internet-com-python.html" target="_blank">Como testar a velocidade da sua internet com Python</a></li>
                <li><a href="http://blog.henriquelopes.com.br/como-fazer-seu-primeiro-deploy-no-heroku.html" target="_blank">Como fazer seu primeiro deploy no Heroku</a></li>
                <li><a href="http://blog.henriquelopes.com.br/simples-flask-app.html" target="_blank">Simples Flask App</a></li>
            </ol>
        </div>

        <h4>Projects</h4>
        <div class="row">
            <ol>
                <li><a href="https://github.com/riquellopes/fii" target="_blank">Fii</a></li>
                <li><a href="https://github.com/riquellopes/fii-desktop" target="_blank">Fii Desktop</a></li>
                <li><a href="https://github.com/riquellopes/shazam" target="_blank">Shazam</a></li>
                <li><a href="https://github.com/riquellopes/bom-negocio-talk" target="_blank">BomNegocioTalk</a></li>
            </ol>
        </div>

        <h4>Books</h4>
        <div class="row">
            <ol>
                <li><a href="https://pt.wikipedia.org/wiki/Pai_Rico,_Pai_Pobre" target="_blank">Pai Rico Pai Probre</a></li>
                <li><a href="http://novatec.com.br/livros/pythonedjango/" target="_blank">Python e Django</a></li>
                <li><a href="http://novatec.com.br/livros/mining/" target="_blank">Mineração de Dados da Web Social</a></li>
                <li><a href="https://en.wikipedia.org/wiki/The_Little_Prince" target="_blank">The little prince</a></li>
                <li><a href="https://www.bibliaonline.com.br/" target="_blank">Holy Bible</a></li>
                <li><a href="https://pt.wikipedia.org/wiki/1808_(livro)" target="_blank">1808</a></li>
            </ol>
        </div>

        <h4>Where to find me</h4>
        <div class="row">
            <ol>
                {% for label, link in links %}
                    <li><a href="{{link}}" target="_blank">{{label}}</a></li>
                {% endfor %}
            </ol>
        </div>

    </div>
</body>
</html>
