{% macro meta(name, content) %}
	{% if content %}<meta name="{{name}}" content="{{content}}">{% endif %}
{% endmacro %}

{% macro meta_tuple(name, contents) %}
	{% if contents %}
		<meta name="{{name}}" content="{% for content in contents %}{{content}}{% if not loop.last %}, {% endif %}{% endfor %}">
	{% endif %}
{% endmacro %}

{% macro load_ga() %}
	{% if config.GA_USE %}
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', '{{config.GA_SET_COUNT}}']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	{% endif %}
{% endmacro %}
