<center>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<title>Henrique Lopes | {% block title %}Home{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="google-site-verification" content="fBjh-tuMYs3X78qprGCAy6fY38ish64qYL7Y_c74Q4U" />
	<meta name="description" content="python, php, developer, rlopes, riquellopes, henrique lopes, flask, nosql, javascript">
	<meta name="keywords" content="Desenvolvedor carioca e apaixonado pelo que faz.">
	<meta name="author" content="Henrique Lopes">
	<meta name="language" content="pt-BR" />
	<meta name="robots" content="index,follow" />
	<meta property="og:type" content="website">
	<meta property="og:title" content="Henrique Lopes">
	<meta property="og:description" content="Desenvolvedor carioca e apaixonado pelo que faz.">
	<meta property="og:url" content="http://henriquelopes.com.br/">
	<meta property="og:image" content="http://henriquelopes.com.br/static/imagens/me.jpg">
	<meta property='og:site_name' content='Henrique Lopes' />
	<link href="/static/css/estilo.css" rel="stylesheet" type="text/css"/>
	<style type="text/css">
		<!--
			body {
				background-color: #dee5ec;
				background-image: url(static/imagens/bg-img.jpg);
				background-repeat: no-repeat;
				background-position:center top;
			}
		-->
	</style>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-31620221-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- fundo-site -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:728px;height:90px"
	     data-ad-client="ca-pub-9390117676358866"
	     data-ad-slot="2923122030"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</head>
<body>
<div class="mae">
	<div class="logo">
		<img src="/static/imagens/henrique-lopes.png" alt="Henrique Lopes" width="237" height="169" />
	</div>
	<div class="links">
			{% for link in links %}
				<div class="link">
					<img src="/static/imagens/{{link.src}}" alt="{{link.label}}" width="35" height="32" align="left" style="padding-right:10px;" />
					<a href="{{link.url}}" {% if link.url != 'javascript:;' %}target="_blank"{% endif %}>{{link.label}}</a>
				</div>
			{% endfor %}
	</div>
</div>
<div class="footer">Henrique Lopes Developer - Todos os direitos reservados 2014<br />
	Email: <a href="javascript:;">{{config.MAIL_CODE|safe}}</a> | Contato: (21) 97269-1350
	<br />
	<br />
	<a href="http://www.rafaelcaride.com.br" target="_blank">Design e Frontend Rafael Caride</a>
</div>
</body>
</html>
</center>
