<center>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="pt-BR">
<head>
	<title>{{config.TITLE}} | {% block title %}Home{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	{% from 'head.html' import meta, meta_tuple%}
	{{ meta('google-site-verification', config.META_GOOGLE_SITE_VERIFICATION) }}
	{{ meta_tuple('description', config.META_DESCRIPTION) }}
	{{ meta('keywords', config.META_KEYWORDS) }}
	{{ meta('author', config.META_AUTHOR) }}
	{{ meta('robots', config.META_ROBOTS) }}
	{% block link_css%}{% endblock %}
	{% block style %}{% endblock %}
	{% if config.GA_USE %}
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', '{{config.GA_SET_COUNT}}']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	{% endif %}
</head>
<body>
	{% block content %}{% endblock %}
</body>
</html>
</center>